<%- include("partials/header") -%>

<h1>Home</h1>

<p><%=homeStartingContentEjs %></p>

<% postsEjs.forEach(function(post){ %>
<h1><%=upperFirstOnlyEjs(post.title) %></h1>
<p><%=post.body.substring(0, 100) + "..." %>
    <a href="/posts/<%=post._id %>">Read More</a>
</p>
<% }); %>
<%- include("partials/footer") -%>